.myclass-offer{
	margin-top: 40px;
    padding:20px;
    text-align: center;   
   /* 
    border: 2px solid red;
    display:flex;	
	justify-content:space-between;*/
}
.myclass-offer .imgVector{
    width: 70px;
    height: 50px;
    border-radius: 50%;
    border-top: 2px solid #99B219;
    margin-bottom: 2px;
}
.myclass-offer p{	
 	height: 50px;	
}

.myclass-offer .btn-success{
/*background-color: #99B219;
border: 2px solid #99B219;*/
height: 30px;
border-radius: 10%;
text-align: center;
padding: 1px;

}

/*******************************************       Responsive   ******************************************/
@media screen and (max-width:1023px){/*Desktop first then the tab screen*/
   .myclass-offer p{	       
        font-size: 14px;	
    }
   .myclass-offer .btn-success{	       
    font-size: 14px;	
   }
} 
@media screen and (max-width:768px){ /*	afetr the tab screen: comes the mobile screen */
    .myclass-offer p{	       
        font-size: 12px;	
    }
   .myclass-offer .btn-success{	       
    font-size: 12px;	
   }
} 
    